.container {
    max-width: 100%;
    /* overflow: hidden; */
    
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    
  }
  
  
  .table-container {
    max-height: 400px; /* ปรับความสูงตามที่คุณต้องการ */
    /* overflow-y: auto; */
    overflow-x: auto; /* เปิดการเลื่อนในแนวนอน */
    border: 1px solid #ddd;
    margin-top: 20px;

  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* ทำให้ขอบตารางติดกัน */
  }
  
  thead {
    position: sticky;
    top: 0;
    /* background-color: #f9f9f9; */
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    /* border: 1px solid #ddd; */
    
  }

  tr:nth-child(even) {
    background-color: #f9f9f9; /* เพิ่มสีพื้นหลังให้กับแถวที่เป็นเลขคู่ */
}
  