/* src/components/Navbar/Navbar.css */

.navbar-logo {
  color: #fff;
  display: flex;
  text-decoration: none;
  margin: 10px;
  /* background-color: maroon; */
}
.navbar-logo:focus,
.navbar-logo:hover,
.navbar-logo:active {
  text-decoration: none;
  outline: none;
}

/* .navbar-brand {
  display: flex;
  justify-content: flex-start;  
  text-decoration: none;
  font-size: 1rem;
  /* width: 10vh; 
  background-color: blueviolet; 
}*/

  .navbar-item .navbar-brand {
    display: flex;
    color: #fff;
    font-size: 0.5rem;
    text-decoration: none;
    /*width: 30vh;  
    background-color: aqua; */
  }
  
  .navbar-menu {
    display: flex;
    /*justify-content: flex;
    align-items: baseline;
   justify-content: flex-end;*/
    width: 198vh;   
    background-color: rgb(208, 158, 82);
  }


  
  .navbar-start {
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 0;
    /* background-color: rgb(182, 255, 240);
    order: 2; ทำให้อยู่ทางขวา */
    /* margin-left: auto; ดันไปทางขวา */
  }
  
  .navbar-item {
    margin-left: 10px;
    justify-content: flex-end;
    /* background-color: darksalmon; */
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar-item a:hover {
    background-color: #555;
    border-radius: 4px;
  }

  @media (min-width: 576px) {
    .navbar {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .navbar {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar {
      max-width: 1140px;
    }
  }
  