:root {
  --primary-color: #5C67F2;
  --secondary-color: #4a54e1;
  --text-color: #333;
  --card-background-color: white; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 600px; /* ปรับความกว้างสูงสุดเป็น 600px */
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 100px;
  /*  */
}

.form-group { /* ใช้สำหรับจัดกลุ่มbox-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);ฟอร์ม */
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, textarea, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: var(--secondary-color);
}

input[type="radio"] {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .radio-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .radio-group > div {
    flex-basis: 20%; /* Adjust this value based on your design preference */
   
  }
}

.radio-group {
  display: flex;
  justify-content: flex-start;/* หรือใช้ space-between แล้วแต่การออกแบบ */
  align-items: center; /* ให้ปุ่มรายการและป้ายชื่ออยู่ในแนวเดียวกัน */
}

.radio-group > div {
  display: flex;
  align-items: center; /* ปรับให้ตัวอักษรและปุ่มรายการอยู่ในเส้นเดียวกัน */
  margin-right: 20px;
}

.radio-group > div label {
  margin-left: 5px; /* Small space after the radio button */
  margin-right: 20px;
  vertical-align: middle; /* Adjust this to align with the radio button */
  display: inline-block; /* This will help in aligning the text properly with the input */
}

.radio-group input[type="radio"] {
  vertical-align: middle; 
}

/* Targeting the container for the Drug Allergies field */
#drugAllergies {
  margin-bottom: 30px; /* Adjust this value as needed to increase or decrease space */
}

/* Alternatively, if you want to target by class (assuming the Select component for drug allergies has a specific class) */
.basic-multi-select {
  margin-bottom: 30px; /* Space below the drug allergies select box */
}

/* If the above selectors don't work because they're not specific enough, you can add more specificity or use an ID selector if your element has an ID */
.form-group:last-of-type {
  margin-bottom: 30px; /* Assuming the drug allergies select is wrapped inside a .form-group */
}

/* To specifically add space above the Date of Record section */
.appointmentDate {
  margin-top: 10px; /* Adds space above the date input field */
}


